body{
    background-color: darkcyan;
}


.fullbox{
    text-align: center;
    background-color: rgb(4, 71, 126);
    border: rgb(3, 3, 66) solid 5px;
    margin-left: 23%;
    margin-right: 23%;
    border-radius: 10px;
    padding: 5px;
    
}

.innerbox{
    color: black;
    border: rgb(3, 3, 66) solid 5px;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.part1{
    
    padding: 25px;
    font-size: 50px;
   
}

table {
    background-color:  #ffffff ;
    border-radius: 10px;
}
.table_header_1{
    font-weight: bold;
    font-size: 30px;
    color: black  ;
    background-color:    #9fbbc1  ;
    border-radius: 10px;
}